---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common-utils'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg
      width="145.314"
      height="70.601"
      viewBox="0 0 145.314 70.601"
      xmlns="http://www.w3.org/2000/svg"
      ><g
        id="svgGroup"
        stroke-linecap="round"
        fill-rule="evenodd"
        font-size="9pt"
        stroke="#000"
        stroke-width="0.25mm"
        fill="#000"
        style="stroke:#000;stroke-width:0.25mm;fill:#000"
        ><path
          class="dark:fill-[#fff] dark:stroke-[#fff]"
          d="M 124.8 37.9 L 124.6 38.6 Q 125.2 38.6 125.85 38.65 A 18.908 18.908 0 0 0 126.39 38.684 Q 126.719 38.7 127 38.7 A 24.346 24.346 0 0 0 128.414 38.759 Q 131.75 38.797 134.218 37.833 A 11.181 11.181 0 0 0 134.3 37.8 A 7.734 7.734 0 0 0 135.579 37.208 Q 136.759 36.514 137.3 35.5 A 2.416 2.416 0 0 1 137.425 35.346 Q 137.63 35.115 137.78 35.101 A 0.208 0.208 0 0 1 137.8 35.1 A 0.689 0.689 0 0 1 138.155 35.19 Q 138.296 35.273 138.396 35.432 A 1.156 1.156 0 0 1 138.5 35.65 A 1.328 1.328 0 0 1 138.571 35.935 Q 138.615 36.279 138.454 36.601 A 1.42 1.42 0 0 1 138.4 36.7 A 5.35 5.35 0 0 1 136.751 38.437 Q 136.047 38.918 135.133 39.276 A 10.869 10.869 0 0 1 134.5 39.5 A 10.821 10.821 0 0 1 132.441 40.155 A 13.966 13.966 0 0 1 130.85 40.4 A 28.828 28.828 0 0 1 128.05 40.534 A 31.933 31.933 0 0 1 126.6 40.5 L 126 40.5 L 124.8 40.4 L 124.2 40.4 Q 122.7 45.9 122.1 51.8 A 5.207 5.207 0 0 0 122.014 52.406 A 4.32 4.32 0 0 0 122 52.75 L 122 53.7 A 15.655 15.655 0 0 0 122.109 55.636 Q 122.359 57.634 123.187 58.572 A 2.43 2.43 0 0 0 125.1 59.4 Q 127.06 59.4 129.742 57.671 A 19.434 19.434 0 0 0 129.85 57.6 A 40.231 40.231 0 0 0 132.975 55.322 A 51.19 51.19 0 0 0 135.45 53.2 A 80.07 80.07 0 0 0 138.798 49.97 A 67.216 67.216 0 0 0 140.6 48.05 Q 142.496 45.948 143.576 44.56 A 24.671 24.671 0 0 0 144 44 Q 144.2 43.8 144.6 43.8 A 1.318 1.318 0 0 1 144.87 43.825 Q 145.535 43.965 145.205 44.887 A 2.883 2.883 0 0 1 145.2 44.9 A 8.713 8.713 0 0 1 145.079 45.074 Q 144.785 45.491 143.918 46.679 A 671.5 671.5 0 0 1 143.5 47.25 Q 142.48 48.644 140.953 50.406 A 91.706 91.706 0 0 1 139.4 52.15 A 48.658 48.658 0 0 1 135.995 55.517 A 60.979 60.979 0 0 1 133.3 57.8 A 17.892 17.892 0 0 1 130.903 59.405 Q 129.479 60.191 128.069 60.57 A 10.806 10.806 0 0 1 127.75 60.65 Q 125.527 61.176 124.186 61.276 A 7.869 7.869 0 0 1 123.6 61.3 A 4.897 4.897 0 0 1 119.755 59.556 A 6.933 6.933 0 0 1 119.15 58.75 A 9.701 9.701 0 0 1 117.893 55.761 Q 117.586 54.505 117.519 53.038 A 18.304 18.304 0 0 1 117.5 52.2 A 30.771 30.771 0 0 1 117.889 47.403 A 35.17 35.17 0 0 1 118.1 46.2 Q 118.7 43.1 119.5 40 Q 116.6 39.7 113.6 39.35 Q 110.6 39 107.6 38.6 Q 101.6 45.9 95.65 52.25 A 113.114 113.114 0 0 1 90.763 57.172 Q 88.346 59.453 86.067 61.283 A 60.061 60.061 0 0 1 84.5 62.5 Q 80.6 65.3 76.45 66.85 A 23.76 23.76 0 0 1 68.362 68.399 A 22.751 22.751 0 0 1 68.1 68.4 Q 64.8 68.4 61.8 67.3 Q 58.8 66.2 56.9 63.8 A 8.606 8.606 0 0 1 55.225 60.09 A 12.134 12.134 0 0 1 55 57.7 Q 55 56.8 55.45 56.05 A 3.439 3.439 0 0 1 55.645 55.758 Q 55.988 55.3 56.3 55.3 Q 57.1 55.3 57.1 57.7 A 6.332 6.332 0 0 0 57.653 60.383 Q 58.366 61.93 60 63 A 8.387 8.387 0 0 0 62.366 64.039 Q 63.41 64.327 64.647 64.435 A 17.84 17.84 0 0 0 66.2 64.5 A 24.08 24.08 0 0 0 71.704 63.838 A 29.499 29.499 0 0 0 74.3 63.1 Q 78.5 61.7 82.3 59.1 A 45.72 45.72 0 0 0 85.823 56.478 Q 88.881 53.981 92.35 50.45 A 342.187 342.187 0 0 0 99.463 42.978 A 413.607 413.607 0 0 0 103.9 38.1 Q 99.1 37.6 94.35 37 Q 89.6 36.4 84.8 36.4 Q 81.6 36.4 78.4 37.05 Q 75.2 37.7 72.6 39.5 A 9.914 9.914 0 0 0 69.666 42.732 A 13.397 13.397 0 0 0 68.7 44.8 A 16.783 16.783 0 0 1 68.595 45.197 Q 68.53 45.435 68.45 45.7 Q 68.3 46.2 68.3 46.7 A 3.427 3.427 0 0 0 68.536 47.981 A 3.247 3.247 0 0 0 68.8 48.5 A 19.684 19.684 0 0 1 68.868 48.708 Q 68.982 49.062 68.998 49.172 A 0.209 0.209 0 0 1 69 49.2 A 2.007 2.007 0 0 1 69 49.214 Q 68.994 50.1 68.2 50.1 A 1.149 1.149 0 0 1 67.282 49.664 A 1.798 1.798 0 0 1 67.1 49.4 Q 66.251 47.871 66.123 45.62 A 14.466 14.466 0 0 1 66.1 44.8 Q 66.1 41.458 66.875 39.11 A 9.282 9.282 0 0 1 68.05 36.7 Q 70 33.9 73.3 32.9 A 23.556 23.556 0 0 1 78.704 31.952 A 27.651 27.651 0 0 1 80.4 31.9 Q 82.1 31.9 83.95 32.05 Q 85.8 32.2 87.6 32.4 Q 92 32.8 96.7 33.75 Q 101.4 34.7 106.1 35.7 Q 111.3 29.6 116.35 23.4 Q 121.4 17.2 125.8 11.65 Q 128.825 7.835 131.236 4.752 A 786.239 786.239 0 0 0 133.3 2.1 A 0.635 0.635 0 0 1 133.435 1.866 Q 133.532 1.761 133.68 1.707 A 0.775 0.775 0 0 1 133.7 1.7 A 1.758 1.758 0 0 1 133.781 1.623 Q 133.904 1.515 133.98 1.502 A 0.117 0.117 0 0 1 134 1.5 A 9.329 9.329 0 0 1 134.993 1.037 Q 135.791 0.717 136.8 0.45 Q 138.267 0.062 138.914 0.009 A 2.284 2.284 0 0 1 139.1 0 A 1.297 1.297 0 0 1 139.513 0.06 Q 140.089 0.254 140.1 1.069 A 2.37 2.37 0 0 1 140.1 1.1 Q 140.1 1.361 139.721 2.002 A 9.683 9.683 0 0 1 139.6 2.2 Q 134.6 10.7 131.05 19.6 Q 127.5 28.5 124.8 37.9 Z M 5.761 70.298 A 10.905 10.905 0 0 0 8.4 70.6 Q 11.9 70.6 16.3 68.5 Q 18.981 67.22 21.811 64.994 A 47.882 47.882 0 0 0 25.5 61.75 Q 30.3 57.1 34.95 49.5 A 73.934 73.934 0 0 0 36.245 47.297 Q 38.168 43.895 39.976 39.906 A 130.768 130.768 0 0 0 43.6 31 A 2.399 2.399 0 0 1 44.116 30.227 Q 44.631 29.695 45.55 29.25 A 13.427 13.427 0 0 1 46.762 28.737 A 16.045 16.045 0 0 1 49 28.1 A 23.661 23.661 0 0 1 49.821 27.942 Q 50.485 27.827 51.08 27.766 A 12.137 12.137 0 0 1 52.3 27.7 A 6.252 6.252 0 0 1 52.399 27.701 Q 53.138 27.713 53.7 27.9 Q 54.302 28.158 54.386 27.53 A 1.73 1.73 0 0 0 54.4 27.3 A 1.225 1.225 0 0 0 54.4 27.267 Q 54.393 27.017 54.284 26.819 A 1.004 1.004 0 0 0 54 26.5 A 0.69 0.69 0 0 0 53.997 26.498 Q 53.689 26.27 52.919 26.217 A 7.522 7.522 0 0 0 52.4 26.2 A 13.945 13.945 0 0 0 51.587 26.225 Q 48.82 26.387 44.4 27.6 A 123.286 123.286 0 0 0 45.143 25.13 A 150.102 150.102 0 0 0 46.35 20.7 Q 47.3 17 48.4 13.3 A 110.803 110.803 0 0 1 48.709 12.277 Q 49.655 9.206 50.6 6.8 Q 52.678 6.978 54.368 7.333 A 19.232 19.232 0 0 1 56.5 7.9 Q 57.4 8.2 58 8.3 A 9.456 9.456 0 0 0 58.364 8.354 Q 58.728 8.4 59 8.4 Q 59.7 8.4 59.7 7.9 A 0.601 0.601 0 0 0 59.693 7.813 Q 59.621 7.317 58.75 6.4 A 14.303 14.303 0 0 0 58.415 6.059 Q 57.691 5.345 57.2 5.1 A 16.464 16.464 0 0 0 56.691 4.856 A 18.688 18.688 0 0 0 55.05 4.2 Q 53.9 3.8 52.6 3.4 A 8.23 8.23 0 0 1 53.174 2.84 Q 54.287 1.859 55.4 1.7 A 2.626 2.626 0 0 0 55.694 1.63 Q 55.919 1.562 56.081 1.459 A 0.847 0.847 0 0 0 56.5 0.7 Q 56.5 0 55.4 0 Q 54 0 52.7 0.8 A 9.129 9.129 0 0 0 51.791 1.44 A 10.699 10.699 0 0 0 50.3 2.9 A 32.944 32.944 0 0 0 49.505 2.759 A 36.82 36.82 0 0 0 45.9 2.35 Q 43.6 2.2 41.1 2.2 Q 36.5 2.2 32 2.95 A 36.751 36.751 0 0 0 28.752 3.639 A 29.549 29.549 0 0 0 23.9 5.35 A 18.474 18.474 0 0 0 21.411 6.721 A 14.009 14.009 0 0 0 18.2 9.6 A 8.351 8.351 0 0 0 16.732 12.314 Q 16.283 13.714 16.283 15.348 A 12.401 12.401 0 0 0 16.3 16 Q 16.3 19.4 18.7 22.15 A 12.68 12.68 0 0 0 19.168 22.658 A 10.115 10.115 0 0 0 24.4 25.6 Q 25.214 25.845 25.366 25.558 A 0.335 0.335 0 0 0 25.4 25.4 A 0.283 0.283 0 0 0 25.389 25.324 Q 25.331 25.114 24.956 24.859 A 3.852 3.852 0 0 0 24.7 24.7 A 11.237 11.237 0 0 0 24.539 24.602 Q 23.76 24.133 22.45 23.5 A 8.277 8.277 0 0 1 22.315 23.433 A 8.621 8.621 0 0 1 19.85 21.55 A 4.193 4.193 0 0 1 18.876 19.748 A 5.677 5.677 0 0 1 18.7 18.3 A 7.109 7.109 0 0 1 19.619 14.72 A 8.202 8.202 0 0 1 21.45 12.55 A 14.495 14.495 0 0 1 22.111 12.019 Q 24.716 10.044 28.65 8.85 A 47.648 47.648 0 0 1 30.409 8.353 A 53.338 53.338 0 0 1 38.1 6.95 A 70.976 70.976 0 0 1 39.917 6.774 Q 42.616 6.547 45.164 6.547 A 54.855 54.855 0 0 1 47.6 6.6 A 52.376 52.376 0 0 0 45.995 9.825 A 65.798 65.798 0 0 0 44.1 14.45 A 149.912 149.912 0 0 0 42.963 17.649 A 123.305 123.305 0 0 0 41.35 22.7 A 176.666 176.666 0 0 1 41.338 22.742 Q 40.554 25.397 39.887 27.354 A 58.236 58.236 0 0 1 39.3 29 Q 29.6 32.1 21.25 37 A 56.081 56.081 0 0 0 17.671 39.287 A 61.596 61.596 0 0 0 6.1 49.8 Q 2.9 53.5 1.45 56.8 A 22.668 22.668 0 0 0 0.977 57.961 Q 0.516 59.19 0.273 60.314 A 11.29 11.29 0 0 0 0 62.7 A 10.063 10.063 0 0 0 0.088 64.051 A 7.135 7.135 0 0 0 2.3 68.45 A 7.694 7.694 0 0 0 5.761 70.298 Z M 10.4 67.8 A 10.37 10.37 0 0 0 14.776 66.795 Q 16.174 66.151 17.565 65.093 A 18.568 18.568 0 0 0 17.75 64.95 Q 21.4 62.1 24.7 57.6 Q 28 53.1 30.8 48 A 129.294 129.294 0 0 0 33.843 42.12 A 103.414 103.414 0 0 0 35.6 38.3 Q 37.307 34.374 38.286 31.759 A 60.833 60.833 0 0 0 38.6 30.9 Q 30.4 33.6 23.4 38.1 Q 16.4 42.6 10.9 49.4 A 38.493 38.493 0 0 0 8.882 52.112 Q 7.882 53.595 7.173 54.998 A 20.111 20.111 0 0 0 6.55 56.35 A 22.156 22.156 0 0 0 5.781 58.484 Q 5.454 59.576 5.311 60.552 A 9.996 9.996 0 0 0 5.2 62 A 8.418 8.418 0 0 0 5.365 63.721 Q 5.681 65.233 6.6 66.25 A 4.614 4.614 0 0 0 9.466 67.736 A 6.58 6.58 0 0 0 10.4 67.8 Z M 129 11.2 L 129.5 10 Q 125.2 16 120.05 22.8 Q 114.9 29.6 109.6 36.3 Q 112.2 36.8 114.8 37.25 Q 117.4 37.7 119.9 38.1 Q 121.7 31.1 124.15 24.05 Q 126.6 17 129 11.2 Z"
          vector-effect="non-scaling-stroke"></path></g
      ></svg
    >
  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
